@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(236, 237, 228);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.header {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;

}

h1 {
    font-family: "Paytone One", sans-serif;
    font-weight: 600;
    font-size: 140px;
    font-style: normal;
    line-height: 120px;

    span {
        color: rgb(255, 0, 136);
    }
}

h2 {
    font-family: "Paytone One", sans-serif;
    font-weight: 400;
    font-size: 36px;
    font-style: normal;
    color: white;

    span {
        color: rgb(69, 255, 112);
    }
}



.button-container, .filter-container {
    background-color: black;
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 20px;
}

button, select {
    font-family: "Paytone One", sans-serif;
    font-size: 16px;
    color: rgb(69, 255, 112);
    background-color: black;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid rgb(255, 0, 136);
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

button:hover {
    color: rgb(255, 0, 136);
    background-color: white;
    border: 2px solid rgb(69, 255, 112);
}

.break {
    height: 100px;
}

.container {
    margin-top: 20px;
    width: 94%;
    display: flex;
    align-items: center;
}

.mapcontainer {
    border: 5px solid pink;
    width: 90%;
    margin-bottom: 50px;
}

.mapboxgl-canvas {
    padding-top: 20px;
}


/* SWIPER CSS */

.swiper {
    height: 450px;
}

.swiper-pagination {
    padding: 4px;
    background-image: linear-gradient(45deg, rgb(255, 2, 209), rgb(69, 255, 112));
    backdrop-filter: blur(10px);
    border-radius: 16px
}

.swiper-pagination-bullet {
    background-color: rgb(255, 255, 255);
    width: 10px;
    height: 10px;
}

/* MAPBOX */

#map {
    width: 100%;
    height: 400px;
}

/* CARDS */

.results {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.board {
    color: rgb(69, 255, 112);
}

.card {
    border: rgb(0, 0, 0) solid 4px;
    border-top-left-radius: 30px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.174);
    box-shadow: 6px 8px 5px 1px rgba(0, 0, 0, 0.362);
-webkit-box-shadow: 6px 8px 5px 1px rgba(0, 0, 0, 0.362);
-moz-box-shadow: 6px 8px 5px 1px rgba(0, 0, 0, 0.362);
    z-index: 30;
}


.card img {
    background-color: white;
    border-top-left-radius: 30px;
    width: 100%;
    height: 450px;
    object-fit: cover;
    padding: 20px;
}

.card-details {
    background-color: white;
    padding: 14px 20px;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(45deg, rgb(255, 2, 209), rgb(69, 255, 112));
    border-image-slice: 1;

    h3 {
        font-family: "Paytone One", sans-serif;
        font-weight: 400;
        font-size: 24px;
        font-style: normal;
    }

    h4 {
        font-family: "Paytone One", sans-serif;
        font-weight: 300;
        font-size: 16px;
        font-style: normal;
    }

    h5 {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 16px;
    font-style: bold;
    margin-top: 10px;
    }
}

/* Media Queries */

@media screen and (max-width: 992px) {

    .results {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    h1 {
        font-size: 100px;
        line-height: 90px;
    }

    .button-container, .filter-container {
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items:start;
    }
    
    .button-holder, .filter-holder {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
}


@media screen and (max-width: 600px) {

    .results {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    h1 {
        font-size: 40px;
        line-height: 45px;
    }

    h2 {
        font-size: 20px;
    }

    .button-container, .filter-container {
        padding-left: 30px;
    }

    .button-holder, .filter-holder {
        display: flex;
        flex-wrap: wrap;
        align-items: left;
        justify-content: left;
    }

    button, select {
        font-size: 12px;
        padding: 10px;
        margin-right: 20px;
        margin-bottom: 10px;
        margin-top: 10px;
    }


}